* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
}

i, 
svg {
    pointer-events: none;
}

.kick-pad, 
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(160, 211, 224);
}

.snare-pad {
    background: rgb(149, 89, 239);
}

.hihat-pad {
    background: rgb(86, 26, 82);
}

.kick-pad-active {
    background: rgb(79, 189, 217);
}
.snare-pad-active {
    background: rgb(106, 28, 223);
}
.hihat-pad-active {
    background: rgb(40, 5, 37);
}


.kick-track, 
.snare-track, 
.hihat-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.sequencer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.kick, 
.snare, 
.hihat {
    display: flex;;
}

.controls {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1rem;
    cursor: pointer; 
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
font-size: 1.5rem;
background: rgb(88, 88, 88);
color: white;
border: none;
cursor: pointer; 
margin-top: 3rem;
}