
.color {
    color: red;
    font-size: 50px;
}

.done {
    color: darkseagreen;
    text-decoration: line-through solid black 2px;

}

.button {
    background: rgb(39, 69, 178);
    height: auto;
    width: auto;
    color: white;
}